[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "*"
gunicorn = "*"
redis = "*"
bcrypt = "*"
cerberus = "*"
kavenegar = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
